.tabs_icons {
  scale: 1.75;
  width: 50px;
}

.connected-tab-panel {
  border-left: 0.5px solid #E2E8F0;
  border-right: 0.5px solid #E2E8F0;
  border-bottom: 0.5px solid #E2E8F0;
  border-radius: 0 0 4px 4px;
  padding: 8px;
}

[data-theme='dark'] .connected-tab-panel {
  border-left: 0.5px solid #4A5568;
  border-right: 0.5px solid #4A5568;
  border-bottom: 0.5px solid #4A5568;
}

.elements_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5em;
}

.Accordion_title {
  font-weight: 500;
  font-size: 24px;
}

.accordion_button {
  border-width: 1.5px;
  border-radius: 5px;
  margin: 1.5em 0 0 0;
}

.qr_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.logo_icon {
  width: 75px;
  scale: 3;
}
.logo_title {
  margin: 0 !important;
}
@media screen and (max-width : 992px) {
  .tabs_container  {
    flex-direction: column !important;

  }
.main_qr_content {
  flex-direction:  column !important;
  gap: 25px !important;
}
.card_item {
  width: 100% !important ;

}
/* [data-theme='dark']  .tabs_content {
  border-color : var(--chakra-colors-white) !important
}
[data-theme='light']  .tabs_content {
  border-color : var(--chakra-colors-white) !important
} */

.tabs_content {
  border-color: inherit !important;
}
.filename_input {
  width: 100% !important;
}
}