.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tabs_icons {
  scale: 1.75;
  width: 50px;
}

.connected-tab-panel {
  border-left: 0.5px solid #E2E8F0;
  border-right: 0.5px solid #E2E8F0;
  border-bottom: 0.5px solid #E2E8F0;
  border-radius: 0 0 4px 4px;
  padding: 8px;
}

[data-theme='dark'] .connected-tab-panel {
  border-left: 0.5px solid #4A5568;
  border-right: 0.5px solid #4A5568;
  border-bottom: 0.5px solid #4A5568;
}

.elements_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
margin-top: 2.5em;
}

.Accordion_title  {
  font-weight: 500;
  font-size: 24px;
}
.accordion_button {
  border-width: 1.5px;
  border-radius: 5px;
  margin: 1.5em 0 0 0;
}

.qr_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}